@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&family=Noto+Sans+Hanunoo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .wrapper{
    height: 100%;
    width: 330px;
    position: relative;
  }
  input[type="checkbox"]{
    display: none;
  }
  .wrapper .menu-bnt{
    position: absolute;
    top: 10px;
    left: 20px;
    height: 45px;
    width: 45px;
    z-index: 999;
    color: #f2f2f2;
    background: #4a4a4a;
    border: 1px solid #333;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 23px;
    transition: all 0.2s ease;
  }
  #btn:checked ~ .menu-btn{
    left: 247px;
  }
  #btn:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper #sidebar{
    position: fixed;
    height: 100%;
    width: 270px;
    background: #404040;
    overflow: hidden;
    left: -270px;
    transition: all, 0.2s ease; 

  }
  #btn:checked ~ #sidebar{
    left:0;
  }
  #sidebar .title{
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    background: #333;
    text-align: center;
  }
  #sidebar .list-items{
    position: relative;
    background: #404040;
    height: 100%;
    width: 100%;
    list-style: none;
  }
  #sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;

  }
  #sidebar .list-items li:hover{
    box-shadow: 0 0 10px 3px #222;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  #sidebar .list-items li a{

    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
  }
  #sidebar .list-items li a{
    margin-right: 100%;
  }
  #sidebar .list-items .icons{
    height:40px;
    width:100%;
    position: absolute;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sidebar .list-items .icons a{
    margin: 0 5px;
    color: #f2f2f2;
    display: block;
    height:  40px;
    width: 40px;
    border-radius:5px;
    background: #4a4a4a;
    border: 1px solid #383838;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: all 0.3s ease;

    
  }
  #sidebar .list-items .icons:hover{
    background: #404040;
  }
  